/*
 * Code được phát triển bởi Sĩ Ben :)))
 * @github: https://github.com/dangtiensi
 */

*{
	margin: 0;
    outline: none;
}
body
{
    background: #4c4c4c;
}
.wrapper
{
    max-width: 1000px;
    margin: 0 auto;
}
.menu
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -112px;
    margin-top: -100px;
    width: 200px;
    background: #5f5f5f;
    padding: 20px;
    border-radius: 5px;
}
.menu>.item-menu>h2
{
    color: #fff;
}
.menu>.item-menu
{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #565656;
}
.menu>.item-menu>span
{
    font-size: 13px;
    color: #fff;
}
.menu>.item-menu>input
{
    width: 50px;
}
.menu>.item-menu>input, .menu>.item-menu>select
{
    float: right;
}
.menu>.item-menu>button
{
    border: 0;
    padding: 3px 8px;
    background: #9877ff;
    color: #fff;
    font-size: 11px;
    cursor: pointer;
}
.menu>.item-menu>button:hover
{
    background: #907be4;
}
.menu>.item-menu:last-child
{
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}
#game
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #a9a5a5;
    display: table;
}
#game>ul
{
	list-style: none;
    margin: 0;
    padding: 0;
}
#game>ul>li
{
    width: 20px;
    height: 20px;
    background: #00000000;
    border: 1px dashed #a9a5a5;
    display: table-cell;
    cursor: pointer;
}
#game>ul>li[data-val="0"]
{
	cursor: pointer;
}
#game>ul>li.active
{
    background: #4829a9;
}
#game>ul>li.stop, #game>ul>li[data-val="1"]
{
    background-image: url(images/stone.png);
    border: 1px solid #615757;
}
#game>ul>li[data-val="0"]:hover, #game>ul>li[data-val="0"]:active
{
    background: #484343;
}
#game>ul>li.start, #game>ul>li.end
{
	background: #000;
}
#game>ul>li.here
{
    background-image: url(images/player.gif);
    background-size: 20px 20px;
}
.controller
{
    padding: 5px;
    background: #5f5f5f;
    text-align: center;
    color: #fff;
    font-size: 13px;
}
.controller button
{
    cursor: pointer;
    border: 0;
    padding: 3px 8px;
    background: #9877ff;
    color: #fff;
    font-size: 11px;
}
.controller button:hover
{
    background: #907be4;
}
.controller input
{
    border: 1px solid #9877ff;
    padding: 1px 4px;
    width: 50px;
}
.hidden
{
    display: none;
}
#game.hidden
{
    display: none;
}
.menu>.item-menu>span.copyright
{
    color: #fff;
    font-size: 11px;
}
#time
{
    color: #c3c3ff;
}